aiohttp==3.9.0
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
argilla==1.19.0
asttokens==2.4.1
attrs==23.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
blinker==1.7.0
brotlipy==0.7.0
cachetools==5.3.3
certifi==2023.7.22
chardet==5.2.0
click==8.1.7
coloredlogs==15.0.1
contourpy==1.2.0
cycler==0.12.1
dataclasses-json==0.6.2
decorator==5.1.1
Deprecated==1.2.14
docker-pycreds==0.4.0
effdet==0.4.1
emoji==2.8.0
et-xmlfile==1.1.0
executing==2.0.1
fastcore==1.5.29
filelock==3.12.4
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.45.0
frozenlist==1.4.0
fsspec==2023.9.2
gitdb==4.0.11
GitPython==3.1.41
gluonts==0.13.3
greenlet==3.0.1
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.17.3
humanfriendly==10.0
iopath==0.1.10
ipython==8.23.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpickle==3.0.3
jsonpointer==2.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
langchain==0.0.339
langdetect==1.0.9
langsmith==0.0.66
layoutparser==0.3.4
lightning-utilities==0.10.1
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numpy==1.23.5
olefile==0.46
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.15.1
opencv-python==4.8.1.78
openpyxl==3.1.2
packaging @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c3zlhpboab/croot/packaging_1678965318579/work
pandas==2.1.4
parso==0.8.4
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.3
pexpect==4.9.0
Pillow==10.1.0
pluggy @ file:///Users/ec2-user/ci_py311/pluggy_1678315400971/work
portalocker==2.8.2
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.2
pycocotools==2.0.7
pydantic==1.10.13
pydantic_core==2.10.1
pydeck==0.8.1b0
Pygments==2.17.1
pypandoc==1.12
pyparsing==3.1.1
pypdf==3.17.1
pypdfium2==4.24.0
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==1.1.0
python-iso639==2023.6.15
python-magic==0.4.27
python-magic-bin==0.4.14
python-multipart==0.0.6
python-pptx==0.6.23
pytorch-lightning==2.0.4
pytz==2023.3.post1
pyvis==0.3.1
PyYAML==6.0.1
rapidfuzz==3.5.2
referencing==0.34.0
regex==2023.8.8
rich==13.7.0
rpds-py==0.18.0
safetensors==0.4.0
scipy==1.11.4
sentry-sdk==1.40.3
setproctitle==1.3.3
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
stack-data==0.6.3
streamlit==1.33.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tiktoken==0.5.1
timm==0.9.11
tokenizers==0.15.0
toml==0.10.2
torch==2.1.1
torchmetrics==1.3.0.post0
torchvision==0.16.1
tornado==6.4
traitlets==5.14.2
transformers==4.35.2
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
unstructured==0.5.6
unstructured-inference==0.7.15
unstructured.pytesseract==0.3.12
wandb==0.16.3
wcwidth==0.2.13
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.1.9
yarl==1.9.3
